<header ng-switch on="$location.path().indexOf('/Ratings/new') > -1">
    <h3 ng-switch-when="true">Create a new Rating</h3>
    <h3 ng-switch-when="false">View or edit Rating</h3>
</header>
<form id="RatingForm" name="RatingForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="form-group" ng-class="{'has-error': RatingForm.participantName.$invalid}">
        <label for="participantName" class="col-sm-2 control-label">Participant Name</label>
        <div id="participantNameControls" class="col-sm-10">
            <input id="participantName" name="participantName" type="text" ng-maxlength="50" class="form-control" ng-model="rating.participantName" placeholder="Enter the Rating Participant Name"></input>
            <span class="help-block error" ng-show="RatingForm.participantName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': RatingForm.score.$invalid}">
        <label for="score" class="col-sm-2 control-label">Score</label>
        <div id="scoreControls" class="col-sm-10">
            <input id="score" name="score" type="number" class="form-control" ng-model="rating.score" placeholder="Enter the Rating Score"></input>
            <span class="help-block error" ng-show="RatingForm.score.$error.number">not a number</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': RatingForm.courseDate.$invalid}">
        <label for="courseDate" class="col-sm-2 control-label">Course Date</label>
        <div id="courseDateControls" class="col-sm-10">
            <date id="courseDate" name="courseDate" ng-model="rating.courseDate" placeholder="Enter the Rating Course Date"></date>
            <span class="help-block error" ng-show="RatingForm.courseDate.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRating" name="saveRating" class="btn btn-primary" ng-disabled="isClean() || RatingForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRating" name="deleteRating" class="btn btn-danger" ng-show="rating.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    <div>
</form>